@import 'mixins';

$blue: #036AAB;

$whiteTransparent: rgba(3, 106, 171, 0);

:host {
  display: none;
  width: 100%;
  max-width: 100px;
}

:host[active] {
  display: inline-block;
}

:host[show-border] {
  border: 1px inset darken($blue, 1);
  box-shadow: 0 0 10px rgba(3, 106, 171, 0.3);
  padding: 5px 10px;
  background: lighten(rgba(3, 106, 171, 1), 65%);
}

#container {
  max-width: 100px;
}

#throbber {

  .marker {
    fill: var(--blue);
    stroke: var(--blue-dark);
    stroke-width: 1;
  }

  .gear {
    transform-origin: 50% 50%;
    animation: spinner ease 2s 0.5s infinite;
    fill: var(--disabled);
    fill-rule: nonzero;
  }
}

@include keyframes(spinner) {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}